{% load socialaccount %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit">로그인</button>
</form>
<ul>
{% for provider in providers %}
    <li>
        {% if provider.social_app %}
            <a href="{% provider_login_url provider.id %}">
                {{ provider.name }}
            </a>
        {% else %}
            <a href="#">
                Provider {{ provider.name }} 설정이 필요 합니다.
            </a>
        {% endif %}
    </li>
{% endfor %}
</ul>
</body>
</html>